<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Product page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="row mt-4">
    <div class="col-4 offset-4">
        <div class="card p-2">
            <h1 class="text-center">Add Group</h1>
            <form method="post" action="/admin/group/add">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
                <input name="name" class="form-control my-4" type="text" placeholder="Group name" required="">
                <div class="text-center">
                    <button class="btn btn-info text-white mx-4 px-5" type="submit">Save</button>
                    <a class="btn btn-dark px-5" href="/">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>