body {
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container img {
    max-width: 100px;
    margin-bottom: 20px;
}

.login-container .form-group {
    margin-bottom: 15px;
}

.login-container .btn-primary {
    background-color: #54b9f1;
    border-color: #54b9f1;
}

.sign-up {
    border-color: #54b9f1;
    background-color: #ffffff;
    color: #54b9f1;
}

.btn-primary:hover {
    background-color: #146795;
    border-color: #146795;
}
